body {
    background-color: #f8f8f808;
    color : #423e3e;
    font-family: sans-serif, sans-serif;
}

h2 {
    margin-left: 15px;
    font-family: serif, sans-serif
}

h4 {
    margin-top: 5px;
    letter-spacing: 3px;


}

h5 {
    font-family: serif, sans-serif;
    font-size: 140%;
    margin-top: 1px;


}

.features {
    background-color: #f8f9fa;
    color: #1a1716;
    text-align: left;
    margin-left: 15px;
}

p {

    font-family: serif, sans-serif;
    letter-spacing: 0.5px;
}

.para {
    font-family: 'DM Serif Display', serif;

    color: #6e5656;

}

.pe {
    font-family:  'DM Serif Display', serif;

    color: #6e5656;
   
    margin-left: 100px;
   

}
