body {
    background-color: #f8f8f808;
    color: #423e3e;
    font-family: sans-serif, sans-serif;
}

h2 {
    margin-left: 15px;
    font-family: serif, sans-serif
}

h4 {
    margin-top: 5px;
    letter-spacing: 3px;


}

h5 {
    font-family: serif, sans-serif;
    font-size: 140%;
    margin-top: 1px;


}

.features {
    background-color: #f8f9fa;
    color: #1a1716;
    text-align: left;
    margin-left: 15px;
}

p {

    font-family: serif, sans-serif;
    letter-spacing: 0.5px;
}

.para {
    font-family: 'DM Serif Display', serif;

    color: #6e5656;

}

.pe {
    font-family: 'DM Serif Display', serif;
    color: #6e5656;
    margin-left: 100px;
}

/* messages */

.messages-container {
    position: fixed;
    top: 5em;
    right: 2px;
    z-index: 9999;
}

ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type: none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success {
    background: #81ce81;
}

ul.messages li.success a {
    color: #0ac33e;
}

ul.messages li.error {
    background: #a30029;
    color: #e9828e;
}

ul.messages li.error a {
    color: #e9828e;
}

ul.messages li.info {
    background: #faffae;
    color: #696b4e;
}

ul.messages li.info a {
    color: #1586de;
}

ul.messages li.warning {
    background: #de9404;
}

ul.messages li.warning a {
    color: #f49000;
}

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}