{% extends "base.html" %}
{% block content %}
<h2 class="h2">About Our Healthy LifeStyle</h2>
<br>
<section>
    <!-- image-->
    <div class="container-fluid " style="background-image: url('');">
        <div class="row">
            <div class="col-6 col-sm-6">
                <div class="media">
                    <div class="d-sm-block">
                        <img src="https://t4.ftcdn.net/jpg/05/89/09/89/240_F_589098948_Ipd5K7S2LxCmWuemDXzeSEVx3GnZ2MaI.jpg"
                            class="rounded-circle mr-3" height=300 width=300>
                    </div>
                    <div class="media-body">
                        <blockquote class="">
                            <p>We have been introduced to more
                                <br>
                                than 10 different international organisations
                                <br>
                                and we are still growing stronger with in our Yoga Trainings and Life style.
                            </p>

                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6">
                <div class="media">
                    <div class="d-sm-block">
                        <img src="https://t4.ftcdn.net/jpg/05/89/09/89/240_F_589098948_Ipd5K7S2LxCmWuemDXzeSEVx3GnZ2MaI.jpg"
                            class="rounded-circle mr-3" height=300 width=300>
                    </div>
                    <!-- intro-->
                    <blockquote class="blockquote-section">
                        <p>Our yoga training is designed to cater to participants of
                            all levels of individual.
                        </p>

                    </blockquote>

                </div>
            </div>
            <!-- aboutpage-->
            <div class="w-100 d-none d-md-block para">
                <h2>
                    <p>We have been attending to individuals from all over the world, from the beginners to advanced
                        practitioners.
                        We strive to create a welcoming and supportive environment where participants
                        can learn and grow at their own pace, and our experienced instructors provide personalized
                        guidance and modifications to help each participant get the most out of their practice. Whether
                        you are a seasoned yogi or
                        just starting out on your yoga journey,our training will provide you with the tools and
                        knowledge to deepen your practice
                        and enhance your overall wellbeing.
                    </p>
                </h2>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}