{% extends "base.html" %}
{% block content %}


    
    <div class="container-fluid section"
        style="background-image: url('https://t4.ftcdn.net/jpg/03/75/05/65/240_F_375056563_CuFsRDCf5E1Y4uySHoo2Ul645EpyVPSX.jpg');">

        <div class=" d-sm-block">

            <div class="col-md-6">
                <div class="modal-body">

                    <h4>
                        Reach out to us:
                        <br>
                        <br>
                        +46734810486
                        <br>
                        +46734450132
                        <br>
                        Address:
                        <br>
                        IslandVägen 4
                        <br>
                        35247
                        <br>
                        Växjö
                        <br>
                        Sweden
                        <br>
                        <br>
                        Email us at:
                        <br>
                        email2ify@yahoo.com
                        <br>
                        healthylifestyle@yoga.se
                    </h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}