{% extends "blog/base.html" %}
{% block content %}

<div class="container-fluid secondview-container">

    <div class="col-md-6">
        <div class="modal-body">
            <h3>Direct lines for your bookings</h3>
            <h4>
                <p>
                    Reach out to us:
                    <br>
                    +46734810486
                    <br>
                    +46734450132
                    <br>
                    Address:
                    <br>
                    IslandVägen 4
                    <br>
                    35247
                    <br>
                    Växjö
                    <br>
                    Sweden
                    <br>
                    <br>
                    Email us at:
                    <br>
                    email2ify@yahoo.com
                    <br>
                    healthylifestyle@yoga.se
            </h4>
            </p>
        </div>
    </div>
</div>
{% endblock %}