{% extends 'base.html' %}
{% load static %}

{% block content %}

    
        <p><h3>The training we offers helps in reducing stress and anxiety by relaxing the mind and body.
            It includes deep breathing techniques, meditation, and mindfulness practices that help in promoting
            better mental health and reducing stress levels, it also enhances mental clarity and concentration.
            <br>
            Our regular practice of yoga has been shown to improve memory, attention, and decision-making abilities. <br>
            It has boosts our students immunity with the help of our features and regular practices<br>
            Our training  has imporoved the lifes and wellbeing of our old and new student, by 
            reducing the symptoms of depression, anxiety, and emotional stress etc. <br>
            </p>
            <br>
            <p class="pe">Feel free to read more about our post and benifits and register with us!</p>
    </div></h3>
    
    <form method="post">
        {% csrf_token %}
    
        <label for="" class="para">Email address</label>
        <input id="" type="email" class="" required="" placeholder="Enter your email...">
        <button to="" class="ui-button ui-button-base ui-button-primary" type="submit">Join our waitlist</button>
    </form> <br> 
    {% for post in posts %}
        <div class="post block">
            
            <h4 class="subtitle">{{ testimony.title }}</h4>

            <small>Posted at {{ post.created_on }}</small>

           <h3> <p>{{ post.intro }}</p></h3>

            <a href="{% url 'post_detail' post.slug %}">Read more or Add Testimony</a>
        </div>    
    {% endfor %}
{% endblock %}