{% extends 'blog/base.html' %}

{% block content %}

    <h3 class="title">{{ post.title }}</h3>

    <small>Posted at {{ post.created_on }}</small>

    <p><strong>{{ post.intro }}</strong></p>

    <p>{{ post.body }}</p>

    <hr>
    
    <h4 class="subtitle">Comments</h4>
    {% for comment in post.comments.all %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
                        <br>
                        {{ comment.body }}
                    </p>
                    <a href="{% url 'delete_comment' comment.id %}" class="danger">Delete</a>
                    <a href="{% url 'update_comment' comment.id %}" class="info">Update</a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="notification">
            <p>No comments yet!</p>
        </div>
    {% endfor %}

    <hr>

    <h4 class="subtitle">Add comment</h4>

    <form method="post" action="{% url 'post_shoulder' post.slug %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-success" type="submit">Submit</button>    
    </form>
<a href="{% url 'frontpage' %}">Back to home</a>

{% endblock %}